# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# NYT crossword raw data (private)
data/raw/
data/private_text/

.env
nyt_cookies.json
nyt_state.json

requirements-lock.txt

